.SelectLanguage {
    margin: auto;
          width: 100%;
          color: white;
          font-size: large;
          text-align: center;
          background: #23626F;
          padding: 10px;
}

.oneLanguage{
    color: white;
    font-size: 15px;
    padding: 3px;
    background: #489673;
    margin: 4px;
    border-radius: 5px;
    cursor: pointer;
}

.oneLanguageActive{
    color: #23626F;
    padding: 2px;
    background: #cacfc5;
    margin: 3px;
    border-radius: 5px;
    font-weight: bold;
}

.blocklanguages{
display: flex;
flex-wrap: wrap;
}

