.SelectLanguage {
    margin: auto;
          width: 100%;
          color: white;
          font-size: large;
          text-align: center;
          background: grey;
          padding: 10px;
}

.oneLanguage{
    color: blue;
    padding: 2px;
    background: #cacfc5;
    margin: 3px;
    border-radius: 5px;
}

.oneLanguageActive{
    color: rgb(238, 106, 17);
    padding: 2px;
    background: #cacfc5;
    margin: 3px;
    border-radius: 5px;
    font-weight: bold;
}

.blocklanguages{
display: flex;
flex-wrap: wrap;
}

